{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/navbar.css'%}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/basics.css' %}"/>
</head>
<body>
	<div class="barner">
		<h2><center>ASCII BITS</center></h2><br/>
		<div class=""></div>
	</div>
	<div class="navbar">
		<ul class="navbar">
			<a href="#"><li class="active">Home</li></a>
			<a href="trailers.html"><li>Trailers</li></a>
			<a href="Movies.html"><li>Movies</li></a>
			<a href="comments.html"><li>Comments</li></a>
		</ul>
	</div>
</body>
</html>